Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

ErrorDocument 404 /404.php

RewriteRule ^index\.html$  /index.php
RewriteRule ^home$       /index.php
RewriteRule ^user/signup$     /register.php
RewriteRule ^user/login$   /login.php

# all tutorials
RewriteRule ^tutorials$   /posts.php
# VIEW a post
RewriteRule ^tutorial/(\d)/?$  /view.php?id=$1


#videos

RewriteRule ^haitian-movies$ /videos.php

